* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
.navbar {
  background-color: white;
  box-shadow: 0px 5px #f5f5f5;
}
.navbar_list {
  height: 65px;
  float: right;
}
.navbar_list ul {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 20px;
  margin: 0 60px 0 0;
}
.navbar_list a {
  text-decoration: none;
  padding: 20px;
  color: grey;
  font-size: 18px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 18px;
}
.navbar_list a:hover {
  color: #ff4500;
}
.logo img {
  height: 80px;
  width: 225px;
  margin: 0 0 0 64px;
}
/* -----Testimonials------- */
.slider-area {
  background: #262626;
  padding: 50px 0;
  position: relative;
  margin: 100px 0;
}
.carousel-control-prev,
.carousel-control-next {
  background: transparent;
}
.img-area {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.img-area img {
  width: 100%;
}
.carousel-caption {
  position: static;
  padding-bottom: 15px;
  padding-top: 0;
}
.carousel-caption h3 {
  font-size: 24px;
  margin-top: 15px;
}
.carousel-caption h4 {
  font-size: 18px;
  color: #ce581c;
}
.carousel-caption p {
  font-size: 18px;
  margin: auto;
  width: 70%;
  margin-bottom: 10px;
  font-style: italic;
  margin-bottom: 15px;
}
.carousel-indicators {
  bottom: -35px;
}
.banner_section h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  margin: 80px;
  color: #808080;
}
.banner-content {
  margin: 0 400px 0 450px;
  font-size: 18px;
  font-family: "Roboto";
  color: #484848;
}
.heading {
  text-align: center;
  font-family: "Roboto";
  padding: 20px;
  margin: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
}
.row {
  margin: 0 20px 0 20px;
}
.img-section {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 50%;
  object-fit: cover;
}
/* gurus p */
.name {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto";
  color: #808080;
  margin-top: 20px;
  text-align: center;
}
.job {
  font-size: 14px;
  font-family: "Roboto";
  color: #808080;
}
.amount {
  font-size: 24px;
  font-family: "Roboto";
  color: #014421;
  text-align: center;
}

.btn-yellow {
  color: #fff;
  background-color: #f58634;
  border-color: #f58634;
  margin-top: 20px;
  font-family: "roboto";
}

.btn-yellow:hover {
  color: #fff;
  background-color: #f58634;
  border-color: #eb7928;
}

.btn-yellow:not(:disabled):not(.disabled):active,
.btn-yellow:not(:disabled):not(.disabled).active,
.show > .btn-yellow.dropdown-toggle {
  color: #fff;
  background-color: #f58634;
  border-color: #f58634;
}

.btn-yellow:focus,
.btn-yellow.focus {
  box-shadow: 0 0 0 0.2rem #f5863470;
}

/* ------Footer----- */
.footer {
  width: 100%;
  display: inline-block;
  width: 100%;
  background-color: azure;
  margin-top: 50px;
  padding: 35px;
}
img.logo {
  height: 75px;
  width: 225px;
  margin: 0 0 20px 20px;
}
.footerpara {
  font-size: 14px;
  font-family: "Roboto";
  color: #484848;
  margin: 0px 20px 0 20px;
}
.content1 {
  text-decoration: none;
  list-style: none;
  margin: 30px 0 0 0;
}
.content2 {
  text-decoration: none;
  list-style: none;
  margin: 30px 0 0 0;
}
.content3 {
  text-decoration: none;
  list-style: none;
  margin: 30px 0 0 0;
}
.content1 a {
  color: #484848;
  margin: 0 20px 20px 20px;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
}
.content2 a {
  color: #484848;
  margin: 0 20px 20px 20px;
  text-align: center;
  font-family: "Roboto";
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}
.content3 a {
  color: #484848;
  margin: 0 20px 20px 20px;
  text-align: center;
  font-family: "Roboto";
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}
.connected {
  font-size: 20px;
  font-family: "Roboto";
  color: #484848;
  margin: 30px 0 0 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
input.form-control {
  font-size: 14px;
  font-family: "Roboto";
  margin: 10px;
  width: 300px;
}

.newsletter {
  margin: 20px;
}

.button {
  display: block;
  text-align: center;
  background-color: #f58634;
  border: none;
  margin: auto;
  width: 150px;
  font-family: "Roboto";
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -45p;
  font-size: 14px;
  width: 90px;
  padding: 8px;
  margin: -48px 0 0 220px;
}
.icons {
  margin: 10px 0 0 10px;
  display: inline-block;
}
.icons i {
  padding: 10px;
}
.rights {
  font-size: 14px;
  font-family: "Roboto";
  color: #484848;
  text-align: center;
  margin-top: 20px;
}
.line1 {
  border-left: 2px solid #caccce;
  height: 150px;
  position: absolute;
  margin: 8px 214px 0 456px;
}
.line2 {
  border-left: 2px solid #caccce;
  height: 150px;
  position: absolute;
  margin: 8px 764px;
}
.line3 {
  border-left: 2px solid #caccce;
  height: 150px;
  position: absolute;
  margin: 8px 1095px 0;
}

/*--------------Responsive-----------------*/

/*---------Navbar------------*/
@media screen and (max-width: 900px) {
  .navbar {
    display: hide;
  }
}
@media screen and (max-width: 900px) {
  .banner-content {
    margin: 0 150px 0 150px;
    font-size: 18px;
    font-family: "Roboto";
    color: #484848;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .line1 {
    display: none;
  }
  .line2 {
    display: none;
  }
  .line3 {
    display: none;
  }
}
